.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.img_box_container {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 160px;
  height: 160px;
  opacity: 0.7;
  /* background: #1462cf; */
  /* border-radius: 50%; */
}

.button:hover {
  width: 160px;
  height: 160px;
  opacity: 1;
  /* background: #1462cf; */
  /* border-radius: 50%; */
}

.button--active {
  width: 160px;
  height: 160px;
}

.button_show_my_voice {
  color: white;
  font-weight: bold;
}

.interim_wrapper {
  color: whitesmoke;
  border: rgb(141, 141, 141) 2px solid;
  padding: 1em;
  margin: 1em;
  width: 300px;
  min-height: 20px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.interim_wrapper--my_voice {
  background-color: rgb(141, 141, 141);
  color: white;
  border: rgb(141, 141, 141) 2px solid;
  padding: 1em;
  margin: 1em;
  width: 300px;
  min-height: 20px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
}

.interim {
  font-weight: bold;
}

.final_wrapper {
  color: whitesmoke;
  border: #ccc 2px solid;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  margin: 1em;
  width: 300px;
  min-height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}

.textarea {
  width: 270px;
  color: whitesmoke;
  background-color: #282c34;
  font-size: 20px;
  font-family: sans-serif;
  min-height: 85px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  resize: none;
}

.button_box {
  width: 62px;
  min-height: 53px;
  background-color: #ccc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.button_box:hover {
  background-color: #8d8d8d;
}

.button_submit {
  color: #282c34;
  font-weight: bold;
}
